
.modalInputField {
    padding: 10px 20px;
    height: 100px;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    font-size: large;
    font-size: x-large;
    font-family: inherit;
}


/* Very small phones (galaxy fold etc.)*/
@media only screen and (max-width: 330px) {

    .editTodoH3 {
        font-size: 28px;
    }

    .modalInputField {
        padding: 6px 12px;
        border: 2px solid var(--primary-color);
        border-radius: 12px;
        font-size: large;
    }

}
