

.taskActionsContainer {
    display: flex;
    align-items: row;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.taskActionsContainer button {
    padding: 20px 20px;
    border-radius: 12px;
    font-size: large;
    font-weight: 700;
    border: 2px solid var(--primary-color);
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-color);
    box-shadow: 3px 3px 0px var(--primary-color),
                3px 3px 0px #222222;
}

.taskActionsMessages {
    margin: 0;
    height: 40px;
    
}

.taskActionMsg {
    margin: 0;
}



.taskActionsContainer button:hover{
    cursor: pointer;
}

.taskActionsContainer button:active {
    animation: button-click 0.2s ease;
    animation-fill-mode: forwards;
    box-shadow: 0 0 10px white,
                0 0 10px white,
                0 0 10px white,
                0 0 10px white !important;
}

@keyframes button-click {
    0% {
      transform: translateY(0);
      transform: translateX(0);
    }
    50% {
      transform: translateY(3px);
      transform: translateX(3px);
    }
    100% {
      transform: translateY(0);
      transform: translateX(0);
    }
}

.activatedBtn {
    background-color: rgba(255, 255, 255, 0.799) !important;
}


.sortBtn {
    background-image: url(../assets/sort.png);
    background-size: cover;
}


.clearAllTasksBtn {
    background-image: url(../assets/clear.png);
    background-size: cover;
}

.toggleEmojiesBtn {
    background-image: url(../assets/emoji.png);
    background-size: 70%;
}

.hoveredTaskActionText {
    margin: 0px;
    color: var(--primary-color);
    font-size: large;
}

.hoveredTaskActionTextH3 {
    margin: 0px;
    height: 30px;
    
}

/* medium size phones */

@media only screen and (max-width: 500px) {

    .taskActionsContainer button {
        padding: 25px 25px;
    }

    .hoveredTaskActionText {
        display: none;
    }

}
