
* {
    box-sizing: border-box;
}

.tasklist {
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
}

.taskUl {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
}

.taskListItem {
    height: auto;
    font-size: larger;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: #2d7fd725;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-wrap: break-word;
    overflow: hidden;
    align-items: center;
    animation: fadeDefault 0.2s ease forwards;
}

.checkBoxAndText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editAndDeleteIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.editAndDeleteIcons button {
    background-color: transparent;
    border: none;
}

.check {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    flex-shrink: 0;
    transition: var(--primary-transition);
    border: 2px solid var(--primary-color);
    background-color: white;
}

input[type=checkbox] {
    accent-color: var(--primary-color);
}

.check:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: var(--primary-transition);
}

.taskListItem h3 {
    color: black;
    margin-left: 15px;
    flex-grow: 1;
    line-height: 1.2;

}

.taskListItem h3:hover {
    cursor: pointer;
}

.hasBeenCheckedH3 {
    text-decoration: line-through;
    opacity: 50%;
}

.hasBeenCheckedLi {
    border: 2px dashed var(--primary-color);
}

.delete {
    background-image: url(../assets/closedBin.png);
    background-size: cover;
    background-position: center;
    width: 31px;
    height: 31px;
    margin-right: 15px;
    margin-left: 20px;
    transition: all 0.2s ease;
    opacity: 70%;
}

.delete:hover {
    background-image: url('../assets/openBin.png');
    cursor: pointer;
    transform: scale(1.3);
    transform: translate(2px, -1px);
    transition: all 0.2s ease;
    opacity: 100%;
}

.edit {
    background-image: url(../assets/edit.png);
    background-size: cover;
    background-position: center;
    width: 31px;
    height: 31px;
    transition: all 0.2s ease-in-out;
    opacity: 70%;
    margin-left: 10px;
}

.edit:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: rotate(10deg);
    opacity: 100%;
}


/* Animations _____________________________________________________________ */


@keyframes fadeDefault {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0px);
    }
}

.appearingTask {
    animation: fadeIn 0.2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dissapearingTask {
    animation: fadeOut 0.2s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(40px);
    }
}

/* Animations _____________________________________________________________ */


/* Conditional classes  _____________________________________________________________ */

.hasLongWord {
    word-break: break-all;
}

/* Conditional classes  _____________________________________________________________ */

/* Scrollbar styling  _____________________________________________________________ */

::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.468);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2d7fd7a4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d7fd7;
}

::-webkit-scrollbar-track:hover {
    background: white;
}

/* Scrollbar styling  _____________________________________________________________ */

/* MEDIA QUERIES ______________________________________________________________ */ 
/* below desktop - tablets/ipads etc */

@media only screen and (max-width: 950px) {

    .tasklist {
        height: 60%;
        width: 80%;
    }

    .taskListItem {
        height: auto;
    }

    .taskListItem h3 {
        font-size: x-large;
        flex-grow: 1;
    }

    .delete {
        width: 32px;
        height: 32px;
    }

    .check {
        width: 30px;
        height: 30px;
    }

}

/* medium size phones */

@media only screen and (max-width: 500px) {

    .tasklist {
        width: 90%;
    }

    .delete {
        margin-right: 8px;
    }

}

/* small phones */ 
@media only screen and (max-width: 380px) {
    .taskListItem h3 {
        font-size: large;
    }

    .edit {
        width: 28px;
        height: 28px;
    }
    .check {
        width: 23px;
        height: 23px;
    }

    .delete {
        width: 28px;
        height: 28px;
        margin-left: 10px;
    }
}

/* VERY small phones */ 


@media only screen and (max-width: 320px) {

    .taskListItem h3 {
        font-size:medium;
    }

    .edit {
        width: 25px;
        height: 25px;
    }
    .check {
        width: 20px;
        height: 20px;
    }

    .delete {
        width: 25px;
        height: 25px;
        margin-left: 8px;
    }
    
}

/* MEDIA QUERIES ______________________________________________________________ */ 


